<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wolfmediabackend.mapper.HostedMapper">
  <resultMap id="BaseResultMap" type="com.wolfmediabackend.bean.hosted">
    <id column="podcast_episode_id" jdbcType="INTEGER" property="podcastEpisodeId" />
    <id column="host_id" jdbcType="INTEGER" property="hostId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from hosted
    where podcast_episode_id = #{podcastEpisodeId,jdbcType=INTEGER}
      and host_id = #{hostId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wolfmediabackend.bean.hosted" useGeneratedKeys="true">
    insert into hosted (podcast_episode_id, host_id)
    values (#{podcastEpisodeId,jdbcType=INTEGER}, #{hostId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select podcast_episode_id, host_id
    from hosted
  </select>
</mapper>